<body>
<h3>Настройка серверов</h3>
<div class="stand">
    <div class="standtop">
        <input type="button" value="добавить" onclick="askServerType()"/>
        <input type="button" value="удалить"/>
    </div>
    <table>
        <tr>
            <td>
                <div class="standleft">
                    <select size="10" onclick="getJsp('getSetupServer',{serverId: value},'#setupServer')">
                        <option th:each="item: ${savedServerList}" th:value="${item.id}"><span th:text="${item.serverName}"/>(<span th:text="${item.serverType}"/>)</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="standbody" id="setupServer">
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
